doctype html
html
    head
        title= "Rock, Paper, Scissors"
        script(src='chat2.js')
        script(src='/socket.io/socket.io.js')
        script(src='leapJS/leap.js')
        link(rel='stylesheet', href='style.css')
    body
        p#throw
        #hand1
        #info
